# SPDX-License-Identifier: GPL-2.0-only
# Copyright (C) 2018-2022 Oplus. All rights reserved.

#ifdef CONFIG_OPLUS_SYSTEM_KERNEL
config OPLUS_SYSTEM_KERNEL_QCOM
  bool "config oplus system feature "
  default y
  help
	define this config to Distinguish between qcom and mtk platform

#endif

source "drivers/soc/oplus/boot/cmdline_parser/Kconfig"
source "drivers/soc/oplus/boot/oplus_project/Kconfig"
source "drivers/soc/oplus/boot/project_info/Kconfig"
